@media screen and (min-width: 1008px) {
  body main {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    top: 25vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main form {
    display: block;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* reset input */
  }
  body main form .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  body main form .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #bdbbbb;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }
  body main form .form__field:-webkit-autofill, body main form .form__field:-webkit-autofill:hover, body main form .form__field:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }
  body main form .form__field::-webkit-input-placeholder {
    color: transparent;
  }
  body main form .form__field:-ms-input-placeholder {
    color: transparent;
  }
  body main form .form__field::-ms-input-placeholder {
    color: transparent;
  }
  body main form .form__field::placeholder {
    color: transparent;
  }
  body main form .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  body main form .form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 1rem;
    color: #bdbbbb;
  }
  body main form .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    -o-border-image: linear-gradient(to right, #11998e, #38ef7d);
       border-image: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
       border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  body main form .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  body main form .form__field:required, body main form .form__field:invalid {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body main form .form-submit-button {
    background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 5px #a59b9b;
            box-shadow: 5px 5px 5px #a59b9b;
    width: 20%;
    height: 2em;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, box-shadow 0.3s;
    transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }
  body main form .form-submit-button:hover {
    -webkit-box-shadow: 2px 2px 2px #050505;
            box-shadow: 2px 2px 2px #050505;
  }
}
/*# sourceMappingURL=contact.css.map */